@use '@logto/tools-components/src/scss/underscore' as _;
@use '@logto/tools-components/src/scss/media' as media;
@use '@logto/tools-components/src/scss/tool-surface' as surface;

.editorPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editorTitle {
  @include surface.editor-title;
}

.jwtEditor {
  @include surface.code-editor-base;
  flex: 1;
  background: #141420;

  &.readOnly {
    background-color: rgba(209, 210, 255, 15%);
    border-color: transparent;
  }

  &.fallback {
    padding: _.unit(6);
    resize: none;
    font-family: inherit;
  }

  &.signatureVerified {
    background: rgba(50, 135, 61, 15%);
    border-color: #32873d;
  }

  &.signatureInvalid {
    background: rgba(148, 3, 65, 15%);
    border-color: #940341;
  }

  pre {
    /* stylelint-disable-next-line declaration-no-important -- overwrite react-simple-code-editor hardcoded inline style */
    word-break: break-all !important;
  }

  textarea {
    /* stylelint-disable-next-line declaration-no-important -- overwrite react-simple-code-editor hardcoded inline style */
    word-break: break-all !important;
  }
}

.signatureStatus {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: _.unit(3.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  > svg {
    margin-right: _.unit(1);
  }

  &.verified {
    background: #32873d;
  }

  &.invalid {
    background: #940341;
  }
}

:global {
  .token.tokenHeader {
    color: #ff589d;
  }

  .token.tokenPayload {
    color: #bf85ff;
  }

  .token.tokenSignature {
    color: #42c4ed;
  }
}

