@use '@logto/website-ui-foundation/scss/_underscore.scss' as _;
@use '@logto/website-ui-foundation/scss/_media.scss' as media;

.section {
  padding-bottom: _.unit(20);

  @include media.mobile {
    padding-bottom: _.unit(12);
  }
}

.contentWrapper {
  @include _.section-container;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
