@use '@logto/tools-components/src/scss/underscore' as _;
@use '@logto/tools-components/src/scss/media' as media;

.section {
  padding-bottom: _.unit(20);

  @include media.mobile {
    padding-bottom: _.unit(12);
  }
}

.contentWrapper {
  @include _.section-container;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
