@use '@logto/website-ui-foundation/scss/_underscore.scss' as _;

.actionBar {
  width: 100%;
  display: flex;
  gap: _.unit(6);
  align-items: flex-end;
  justify-content: flex-end;
  margin: _.unit(6) 0;
}
