@use './media' as media;

@function unit($factor: 1) {
  @return #{$factor * 4}px;
}

@mixin max-width {
  max-width: var(--content-max-width);
  padding: 0 var(--content-padding);
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin section-container {
  @include max-width;
  position: relative;
  margin: 0 auto unit(6);
}

/**
* @deprecated
*/
@mixin headline {
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin: unit(25) 0 unit(16);

  @include media.mobile {
    font-size: 32px;
    line-height: 40px;
    margin: unit(16) 0;
    white-space: pre-wrap;
  }
}

@mixin divider($height: unit(3), $color: #e0e3e3, $space: unit(6)) {
  margin-inline-end: $space;
  position: relative;

  &::after {
    content: '';
    width: 1px;
    height: $height;
    position: absolute;
    right: calc(-1 * $space / 2);
    top: 50%;
    transform: translateY(-50%);
    background-color: $color;
  }
}

@mixin multi-line-ellipsis($line) {
  // https://css-tricks.com/almanac/properties/l/line-clamp/
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin rotating-animation {
  animation: rotating 1s ease-in-out infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin shimmering-animation($baseColor: var(--color-layer-2)) {
  background-color: $baseColor;
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background-image:
      linear-gradient(
        90deg,
        rgba(var(--color-skeleton-shimmer-rgb), 0) 0,
        rgba(var(--color-skeleton-shimmer-rgb), 0.2) 20%,
        rgba(var(--color-skeleton-shimmer-rgb), 0.5) 60%,
        $baseColor
      );
    animation: shimmer 2s infinite;
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

// Scale DOM and adjust height and margin ac
@mixin scale-dom($height, $scale) {
  margin: calc(($scale - 1) / 2) * $height 0;
  transform: scale($scale);
}
