@use '@logto/website-ui-foundation/scss/_underscore.scss' as _;
@use '@logto/website-ui-foundation/scss/_media.scss' as media;


.contentForm {
  display: flex;
  gap: _.unit(6);
  width: 100%;
  margin-bottom: _.unit(6);
  align-items: stretch;

  .jwtColumn {
    flex: 4; // 4 parts
  }

  .contentColumn {
    flex: 5; // 5 parts
  }

  &.encode {
    .jwtColumn {
      order: 2;
    }

    .contentColumn {
      order: 1;
    }
  }

  textarea {
    &:focus-visible {
      outline: none;
    }
  }
}

@include media.mobile {
  .contentForm {
    flex-direction: column;
  }

  .jwtColumn,
  .contentColumn {
    flex: 1;
  }
}

