@use '@logto/website-ui-foundation/scss/_underscore.scss' as _;

@mixin editor-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: _.unit(1.5);
}

@mixin code-editor-base {
  border-radius: 8px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  direction: ltr;
  border: 2px solid #ffffff80;
  font-family: 'Roboto Mono', monospace;
}
