@use '@logto/website-ui-foundation/scss/_underscore.scss' as _;
@use '@logto/website-ui-foundation/scss/_media.scss' as media;
@use '../../scss/editor' as editor;

.editorPanel {
  &:first-child {
    margin-bottom: _.unit(6);
  }
}

.jsonEditor {
  @include editor.code-editor-base;
  background: #141420;

  &.readOnly {
    background-color: rgba(209, 210, 255, 15%);
    border: none;
  }

  &.fallback {
    padding: _.unit(6);
    resize: none;
    font-family: inherit;
    height: _.unit(17);
  }

  pre {
    /* stylelint-disable-next-line declaration-no-important -- overwrite react-simple-code-editor hardcoded inline style */
    word-break: break-all !important;
  }

  textarea {
    /* stylelint-disable-next-line declaration-no-important -- overwrite react-simple-code-editor hardcoded inline style */
    word-break: break-all !important;
  }
}

.editorTitle {
  @include editor.editor-title;
}

:global {
  .token.comment {
    color: #6c6c6c;
  }

  .token.punctuation {
    opacity: 70%;
  }

  .token.property {
    color: #42c4ed;
  }

  .token.operator {
    margin-right: 2px;
  }

  .token.boolean,
  .token.number,
  .token.string,
  .token.keyword,
  .token.symbol {
    color: #f6dd5a;
  }
}
