@use '@logto/tools-components/src/scss/underscore' as _;
@use '@logto/tools-components/src/scss/media' as media;
@use '@logto/tools-components/src/scss/tool-surface' as surface;

.secretForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: _.unit(6);

  .editorPanel {
    flex: 1;
  }
}

.editorTitle {
  @include surface.editor-title;
}

.jwksUrlInput,
.secretEditor {
  @include surface.code-editor-base;
  padding: _.unit(6);
  background: none;
}

.secretEditor {
  resize: vertical;
  min-height: _.unit(32);
}

.editorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: _.unit(2);
}

.linkButton {
  background: none;
  border: none;
  color: #af9eff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: _.unit(1);

  &:active,
  &:hover {
    color: #4300da;
  }
}

.encodeCheckbox label {
  color: #af9eff;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: _.unit(1);
  user-select: none;
  font-size: 16px;
  line-height: 24px;
}

.description {
  color: rgba(255, 255, 255, 70%);
  font-size: 14px;
  line-height: 20px;
}
